
:root {
    
  --roxoNormal:  #E94319;      
  --roxoEscuro:  #C22D00; 

  --amareloNormal: #E94319;         
  --amareloEscuro: #C22D00;    
    
  --marromNormal: #202020;     
  --Branco: #F5F5F5;
 
         

}
